<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Laura Ortega">
    <link rel="stylesheet" href="./css/styleprincipal.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <title>Role Nation</title>
</head>

<body>
    <!-- Para la niebla -->
    <section class="fog">
        <div class="absolute-bg"></div>
        <div class="fog-container">
            <div class="fog-img fog-img-first"></div>
            <div class="fog-img fog-img-second"></div>
        </div>
        <!-- Nombre de la web -->
        <div class="container-fluid">
            <div class="role">
                <span class="titleweb"><a id="rolenation" href="/">RoleNation</a></span>
            </div>
            <!-- NAV -->
            <div class="nav">
                <ul class="menu web-site">
                    <li><a id="home" href="/">HOME</a></li>
                    <li> <a id="about" href="#">ABOUT US</a></li>
                    <li> <a id="universe" href="/profile">ROLE UNIVERSE</a></li>
                    <li> <a id="contact" href="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="container">
                <!-- CONTENIDO -->
                <div class="aventura">
                    <p class="slogan">YOUR ADVENTURE STARTS HERE</p>
                </div>
                <!-- flecha -->
                <div class="arrow"><img src="./img/flechaabajo.png"></div>
                <form class="registro">
                    <!-- form de registro -->
                    <div class="col formulario">
                        <input type="text" id="email" placeholder="Your Email"><br>
                        <input type="text" id="username" placeholder="Create Your Username"><br>
                        <input type="password" id="password" placeholder="Password"><br><br>
                        <button class="button">SIGN UP</button>
                    </div>
                    <!-- log in -->
                    <div class="login">
                        <p class="cuenta">ALREADY REGISTERED?</p>
                        <button class="button">SIGN IN</button>
                    </div>
                </form>

            </div>


        </div>

    </section>
</body>

</html>